@import '/src/styles/variables';
@import '/src/styles/mixins';

.card {
  .stageWillStart {
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 24px;
  }
}

@include large-tablet {
  .card {
    .stageWillStart {
      font-size: 16px;
    }
  }
}
