@import '/src/styles/variables';
@import '/src/styles/mixins';

.infinityLine {
  max-width: 100%;
  overflow: hidden;
  border-bottom: 2px solid $dark-0;
  &Container {
    width: fit-content;
    @include flex(row, flex-start, center);
  }
  &Item {
    position: relative;
    animation-duration: calc(var(--duration) * 2s);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    &.ltr {
      animation-name: ltrMove;
    }
    &.rtl {
      animation-name: rtlMove;
    }
  }
}

@keyframes ltrMove {
  0% {
    transform: translate(100%, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

@keyframes rtlMove {
  0% {
    left: 0%;
  }

  100% {
    left: calc(-100% + 100vw);
  }
}
