@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  @include flex(column, stretch, center, nowrap);
  padding: 0 30px;
  padding-bottom: 30px;

  .title {
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }
}
