@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  display: flex;
  justify-content: space-between;

  .cell {
    @include flex(row, flex-start, center);
    flex-direction: column;
    margin-right: 12px;

    .pill {
      background-color: $accent;
      border-radius: 44px;
      border: 2px solid black;
      width: 8vw;
      min-width: 64px;
      text-align: center;
    }

    .label {
      text-align: center;
    }
  }

  :last-of-type .cell {
    margin-right: 0;
  }
}
