.Toastify__toast {
  background: red;
  color: $dark-0;
  border-radius: 10px;
  min-height: 70px;
  border: 1px solid;
  transition: 0.4s ease;

  &-body {
    padding: 0;
  }
  &-icon {
    width: fit-content;
  }
}
