@import '/src/styles/variables';
@import '/src/styles/mixins';

.card {
  grid-row: span 2;

  .progress {
    margin-bottom: 16px;
  }

  .displayInline {
    display: inline;
  }

  .softCap {
    text-align: center;
    margin-bottom: 24px;
  }

  .form {
    .sendInput {
      margin-bottom: 48px;
    }

    .receiveInput {
      margin-bottom: 32px;
    }

    .zeroGasCurrency {
      @include flex(row, space-between, center);
      padding-right: 12px;

      :first-child {
        margin-right: 12px;
      }
    }

    .helpText {
      text-align: center;
      margin-bottom: 24px;
    }

    .formButton {
      border: 2px solid $dark-0;
      border-radius: 74px;
      padding-left: 48px;
      padding-right: 48px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 32px;

      .formButtonTypography {
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }

  .claim {
    @include flex(row, space-between, center);

    .claimButton {
      border: 1px solid $dark-0;
      border-radius: 650;
      white-space: nowrap;
    }
  }
}
