@import '/src/styles/variables';
@import '/src/styles/mixins';

.wrapper {
  position: absolute;
  min-height: calc(100vh - 54px);
  background: $light-8;
  top: -21px;
  left: 0;
  width: 100%;
  transition: 1000ms ease-in-out;
  transform: translateY(100%);
  display: none;

  .container {
    padding: 36px 50px;
    height: calc(100vh - 80px);
    overflow-y: scroll;

    .head {
      margin-bottom: 20px;
      @include flex(row, space-between, flex-start);
      position: relative;

      .exit {
        padding: 4px;
        background-color: $accent;
      }

      .title {
        font-size: 48px;
        line-height: 44px;
        text-transform: uppercase;
        @include flex(row, center, center);

        .zGasIcon {
          padding: 0 10px;
          flex: 0 0 20%;
          height: 100%;
        }

        margin-bottom: 24px;
      }
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-columns: minmax(0, 1fr);
      grid-template-rows: 210px 400px;
      gap: 30px;

      .card {
        border: 2px solid $dark-0;
        border-radius: 20px;
        padding: 24px 32px;
      }
    }
  }

  &.open {
    display: block;
    transform: translateY(24px);
  }

  .comingSoonContainer {
    padding: 25px 50px;

    .head {
      margin-bottom: 20px;
      @include flex(row, flex-end, center);

      .exit {
        padding: 4px;
        background-color: $accent;
      }
    }

    .content {
      height: auto;

      .comingSoon {
        text-align: center;
      }
    }
  }


}

@include large-tablet {
  .wrapper {
    .container {
      padding: 25px 15px;

      .head {
        @include flex(row, flex-start, flex-start);

        .exit {
          position: absolute;
          right: 12px;
          top: 0;
        }

        .zerogas {
          width: 300px;

          .title {
            font-size: 32px;
          }
        }
      }

      .content {
        grid-template-columns: 1fr;

        .card {
          padding: 12px 4px;
        }
      }
    }
  }
}
