@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  @include flex(column, stretch, center, nowrap);
  padding: 0 30px;
  padding-bottom: 30px;

  .title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 8%;
    text-align: center;
  }

  .transactionHash {
    padding: 8px;
    text-transform: uppercase;

    .copy {
      background: none;
      border: none;
      margin-left: 4px;
      padding: 0;
      width: 18px;
      height: 18px;

      .icon {
        width: 18px;
        height: 18px;
      }

      :hover {
        cursor: pointer;
      }
    }
  }
}
