@import '/src/styles/variables';
@import '/src/styles/mixins';

.wrapper {
  margin-top: 54px;
  width: 100%;
  @include flex(row, center, center, wrap);
}

.card {
  &Wrapper {
    padding: 10px;
  }
  &Content {
    min-width: 360px;
    padding: 18px 32px;
    border: 2px solid $dark-0;
    border-radius: 20px;
    @include flex(row, flex-start, center);
  }
  &Icon {
    margin-right: 16px;
  }
}

@include large-mobile {
  .wrapper {
    margin-top: 16px;
  }
  .card {
    &Wrapper {
      width: 100%;
    }
    &Content {
      width: 100%;
      min-width: 100%;
    }
  }
}
