@import '/src/styles/variables';
@import '/src/styles/mixins';

.mainWrapper {
  position: relative;
  overflow: var(--appOverflow);
  height: 100vh;
  z-index: 0;
  @include flex(column, flex-start, center);

  footer {
    margin-top: auto;
  }
}

.pageWrapper {
  width: 100%;
  position: relative;
  // header size
  padding-top: 54px;
  // position: absolute;
  // top: 84px;
  // width: 100vw;
  // height: calc(100vh - 84px);
  // overflow-y: auto;
  // overflow-x: hidden;
}
