@import '/src/styles/variables';
@import '/src/styles/mixins';

.mainWrapper {
  position: relative;
  overflow: hidden;
  z-index: 0;
  min-height: 100vh;
  @include flex(column, flex-start, center);

  footer {
    margin-top: auto;
  }
}

.pageWrapper {
  width: 100%;
  position: relative;
  // header size
  padding-top: 54px;
}
