@import '/src/styles/variables';
@import '/src/styles/mixins';

.header {
  &Wrapper {
    background: $accent;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid $dark-0
  }

  &Content {
    position: relative;
    @include flex(row, flex-start, center);
    padding: 12px 0;

    &Wrapper {
      border-top: 0px solid transparent;
    }
  }
}
