@import '/src/styles/variables';
@import '/src/styles/mixins';

.wrapper{
    flex: 1;
    .content{
        @include flex(row, space-evenly, center);
        .walletConnect{
            padding: 8px;
            border-radius: 0;
            border-bottom: 2px solid $dark-0;
            text-transform: uppercase;
        }
        .buy{
            text-transform: uppercase;
        }
        .burger{
            display: none;
            margin-left: 8px;
            padding: 14px 20px;
        }
    }
}

@include middle-tablet{
    .wrapper{
        .content{
            @include flex(row, space-between, center);
            .buy{
                margin-left: auto;
            }
            .burger{
                display: inline-block;
            }
        }
    }
}